---
import Page from "../layouts/Page.astro";
import CalendarEvents from "../components/collections/CalendarEvents.astro";
import getLatestEvents from "../utils/getLatestEvents";
import FormattedDate from "../components/FormattedDate.astro";

const publicEvents = await getLatestEvents(7, 'Public');
const specialEvents = await getLatestEvents(30, 'Special Event');
---

<Page title="Events" description="Calendar of events." image="/assets/uploads/events-header-1.jpg">
  <div class="section">
    <div class="container">
      <div class="andro_artist-d-content">
        <div class="andro_artist-d-section">
          <h4>About</h4>
          <div class="andro_artist-d-section-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>

        {specialEvents.length > 0 && (
          <div class="andro_artist-d-section">
            <h4>Upcoming Events</h4>
            <div class="andro_artist-d-section-content">
              <div class="row">
                {specialEvents.map((event) =>
                  <div class="col-lg-4">
                    <div class="andro_artist style-3">
                      <div class="andro_artist-img">
                        <a href={event.url}><img class="andro_img-cover" src={event.image} alt="event" /></a>
                      </div>
                      <h5 class="andro_artist-name text-center"><a href={event.url} target="_blank">{event.name}</a></h5>
                    </div>
                  </div>
                )}
              </div>
            </div>
          </div>

          <div class="andro_artist-d-section visually-hidden">
            <h4>Upcoming Events</h4>
            <div class="andro_artist-d-section-content">
              <div class="row">
                {specialEvents.map((event) =>
                  <div class="col-lg-4">
                  <div class="andro_artist style-4">
                    <div class="andro_artist-img">
                      <img class="andro_img-cover" src={event.image} alt="event" />
                    </div>
                    <div class="justify-content-end andro_artist-content">
                      <h5 class="andro_artist-name family-display"><a href={event.url} target="_blank">{event.name}</a></h5>
                      <p class="m-0"></p>
                    </div>
                  </div>
                </div>
                )}
              </div>
            </div>
          </div>
        )}
  
        <div class="andro_artist-d-section" id="church-calendar">
          <h4>Calendar ({publicEvents.length}) <a href="https://stonybrookchurch.churchcenter.com/calendar?view=list" target="_blank">Show All</a></h4>
          <div class="andro_artist-d-section-content">
            {publicEvents.map((event) =>
              <div class="andro_event">
                <div class="andro_event-date">
                  <b><FormattedDate date={event.start} format="d" /></b>
                  <span><FormattedDate date={event.start} format="LLLL yyyy" /></span>
                </div>
                <div class="andro_event-content">
                  <div class="andro_event-body">
                    <h5>{event.name}</h5>
                    <div class="andro_event-data">
                      {event.start.substring(0, 10) !== event.end.substring(0, 10) && (
                        <span><strong>Start:</strong> <FormattedDate date={event.start} format="DDD - t" /></span>
                        <span><strong>End:</strong> <FormattedDate date={event.end} format="DDD - t" /></span>
                      )}
                      {event.start.substring(0, 10) === event.end.substring(0, 10) && (
                        <span><FormattedDate date={event.start} format="cccc" /> &ndash; <FormattedDate date={event.start} format="t" /> - <FormattedDate date={event.end} format="t" /></span>
                      )}
                      {event.location && (
                        <b><i class="fal fa-map-marker"></i> &nbsp; {event.location}</b>
                      )}
                    </div>
                  </div>
                  <div class="andro_event-controls">
                    {event.registration_url && (
                      <a href={event.registration_url} target="_blank" class="button primary sm">Register</a>
                    )}
                    <a href={event.url} target="_blank" class="button outline sm">Details</a>
                  </div>
                </div>
              </div>
            )}
          </div>
        </div>
  
        <div class="andro_artist-d-section">
          <h4>More Information</h4>
          <div class="andro_artist-d-section-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Sapien faucibus et molestie ac feugiat sed lectus. Quis ipsum suspendisse ultrices gravida dictum.
            </p>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</Page>