---
import Page from '@layouts/Page.astro';
import getLatestEvents from '@utils/getLatestEvents';
import FormattedDate from '@components/FormattedDate.astro';

const publicEvents = await getLatestEvents(7, 'Public');
const specialEvents = firstOfEach(await getLatestEvents(30, 'Special Event'));

function firstOfEach(events) {
  const map = {};
  const result = [];
  events.forEach((event) => {
    if (map[event.event_id] === undefined) {
      map[event.event_id] = event;
      result.push(event);
    }
  });
  return result;
}
---

<Page title="Events" description="Calendar of events." image="/assets/uploads/hero/events-1.jpg">
  <div class="section">
    <div class="container">
      <div class="andro_artist-d-content">
        <div class="andro_artist-d-section">
          <h4>About</h4>
          <div class="andro_artist-d-section-content">
            <p>
              This page contains the highlights of our church calendar.
              Below you will find information about this month&apos;s special events and a list of upcoming services and other gatherings for the week.
            </p>
          </div>
        </div>

        <div class="andro_artist-d-section">
          <h4>Upcoming Events ({specialEvents.length}) <a href="https://stonybrookchurch.churchcenter.com/registrations/events" target="_blank">Show All</a></h4>
          <div class="andro_artist-d-section-content">
            {specialEvents.length == 0 && (
              <div class="row">
                <div class="col-lg-12">
                  <p>There are no upcoming events in the next 30 days. Check the <a href="https://stonybrookchurch.churchcenter.com/registrations/events" target="_blank">registrations</a> page for future events.</p>
                </div>
              </div>
            )}

            {specialEvents.length > 0 && (
              <div class="row">
                {specialEvents.map((event) =>
                  <div class="col-lg-4">
                    <div class="andro_artist style-3">
                      <div class="andro_artist-img">
                        <a href={event.url} target="_blank"><img class="andro_img-cover" src={event.image} alt="event" /></a>
                      </div>
                      <h5 class="andro_artist-name text-center"><a href={event.url} target="_blank">{event.name}</a></h5>
                    </div>
                  </div>
                )}
              </div>
            )}
          </div>
        </div>

        <div class="andro_artist-d-section" id="church-calendar">
          <h4>Calendar ({publicEvents.length}) <a href="https://stonybrookchurch.churchcenter.com/calendar?view=list" target="_blank">Show All</a></h4>
          <div class="andro_artist-d-section-content">
            {publicEvents.map((event) =>
              <div class="andro_event">
                <div class="andro_event-date">
                  <b><FormattedDate date={event.start} format="d" /></b>
                  <span><FormattedDate date={event.start} format="LLL yyyy" /></span>
                </div>
                <div class="andro_event-content">
                  <div class="andro_event-body">
                    <h5>{event.name}</h5>
                    <div class="andro_event-data">
                      {event?.start?.substring(0, 10) !== event?.end?.substring(0, 10) && (
                        <span><strong>Start:</strong> <FormattedDate date={event.start} format="DDD - t" /></span>
                        <span><strong>End:</strong> <FormattedDate date={event.end} format="DDD - t" /></span>
                      )}
                      {event?.start?.substring(0, 10) === event?.end?.substring(0, 10) && (
                        <span><FormattedDate date={event.start} format="cccc" /> &ndash; <FormattedDate date={event.start} format="t" /> - <FormattedDate date={event.end} format="t" /></span>
                      )}
                      {event.location && (
                        <b><i class="fal fa-map-marker"></i> &nbsp; {event.location}</b>
                      )}
                    </div>
                  </div>
                  <div class="andro_event-controls">
                    {event.registration_url && (
                      <a href={event.registration_url} class="button primary sm" target="_blank">Register</a>
                    )}
                    <a href={event.url} title={event.name} class="button outline sm" target="_blank">Details</a>
                  </div>
                </div>
              </div>
            )}
          </div>
        </div>

        <div class="andro_artist-d-section">
          <h4>More Information</h4>
          <div class="andro_artist-d-section-content">
            <p>
              We have regular gatherings on Sunday mornings at 9 am and 10:30 am, which last about an hour and include Kid Life and toddler care for both services.
              Once a month, we take communion together at the end of service (for both services) and invite anyone who has placed their faith and trust in Jesus to join in the remembrance.
              We also have a Saturday morning Bible study for men every week, a once-a-month fellowship gathering for men called &ldquo;Fire Time&rdquo; and a once-a-month fellowship gathering for women called &ldquo;Over the Coffee Cup.&rdquo;
            </p>
            <p>
              Please email us at <a href="mailto:connect@stonybrookchurch.com">connect@stonybrookchurch.com</a> if you have any questions, and we would be happy to provide more information and get you connected to what God is doing at Stony Brook Church!
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</Page>