---
import { SITE_TITLE, APP_STORE_URL, PLAY_STORE_URL, CHURCH_CENTER_URL } from '@consts';
import FormattedDate from '@components/FormattedDate.astro';
import UpcomingEvent from '@components/UpcomingEvent.astro';
import getFeaturedPosts from '@utils/getFeaturedPosts';
import getLatestEvents from '@utils/getLatestEvents';
import getLatestMessage from '@utils/getLatestMessage';
import getLatestStream from '@utils/getLatestStream';
import permalink from '@utils/permalink';
import Home from '@layouts/Home.astro';

const featuredPosts = await getFeaturedPosts();
const latestMessage = await getLatestMessage();
const publicEvents = await getLatestEvents(7, 'Public');
const liveStream = await getLatestStream('live');

const upcomingEvent = {
  heading: 'Upcoming Event',
  title: 'Join us at the Sarpy County Fair Grand Parade!',
  date: '2025/08/02 20:00:00',
  url: '/blog/2025/07/sarpy-county-fair',
  image: '/assets/uploads/fair-unsplash.jpg',
  enabled: true
};
---

<Home title="Home" description="Welcome Home" image="/assets/uploads/hero/band-1.webp">
  <div slot="actions" class="d-block d-sm-flex justify-content-center align-items-center">
    {liveStream &&
        <a href="#live-now" class="ms-0 ms-sm-2 mt-2 button primary">Watch Live! <i class="fal fa-arrow-down"></i></a>
    }
    <a href="/connect" class="ms-0 ms-sm-2 mt-2 button primary">Connect <i class="fal fa-arrow-right"></i></a>
  </div>

  {upcomingEvent.enabled &&
    <div slot="after-header">
      <UpcomingEvent heading={upcomingEvent.heading} title={upcomingEvent.title} date={upcomingEvent.date} url={upcomingEvent.url} image={upcomingEvent.image} />
    </div>
  }

  <div class="section md andro_particles-wrap">
    <div id="andro_particles" class="andro_particles"></div>
    <div class="container">
      <div class="section-title text-center mb-0 mt-5">
        <span class="text-white family-display">Be the <i class="color-primary">Church</i></span>
        <p>
          At Stony Brook Church, we believe that to be the church God has called us to be, our Sunday gatherings are only the beginning.
          We like to say that we grow in <em>strength</em> on Sunday mornings, but we grow in <em>numbers</em> the rest of the week.
          Read <a href="/about#our-story">our story</a> to learn more about us, or join us on a Sunday morning!
        </p>
        <!-- <img src="/assets/img/sig.png" alt="signature" class="hidden"> -->
      </div>

      <div class="section pb-0">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="andro_video style-2">
              <div class="andro_video-img">
                <img class="andro_img-cover" src="/assets/uploads/belong-3.webp" alt="video">
                <!-- <a href="https://www.youtube.com/watch?v=" class="andro_video-popup andro_video-icon bg-primary"> <i class="fas fa-play"></i> </a> -->
              </div>
              <div class="andro_video-body">
                <h5>Belong</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="andro_video style-2">
              <div class="andro_video-img">
                <img class="andro_img-cover" src="/assets/uploads/believe-3.webp" alt="video">
                <!-- <a href="https://www.youtube.com/watch?v=" class="andro_video-popup andro_video-icon bg-primary"> <i class="fas fa-play"></i> </a> -->
              </div>
              <div class="andro_video-body">
                <h5>Believe</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="andro_video style-2">
              <div class="andro_video-img">
                <img class="andro_img-cover" src="/assets/uploads/become-1.webp" alt="video">
                <!-- <a href="https://www.youtube.com/watch?v=" class="andro_video-popup andro_video-icon bg-primary"> <i class="fas fa-play"></i> </a> -->
              </div>
              <div class="andro_video-body">
                <h5>Become</h5>
              </div>
            </div>
          </div>
          <div class="mt-4 text-center">
            <a href="/about#our-story" class="button primary">Read Our Story</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-cover" style="background-image: url(/assets/uploads/banner/connect-1.webp)">
    <div class="container">
      <div class="section-title text-center">
        <h3 class="text-white family-display fw-400">Connect With Us</h3>
        <p class="text-white">
          We would love to meet you and pray for you! You can instantly share prayer requests, find small groups, or register for events online when you download the <a href={CHURCH_CENTER_URL} target="_blank">Church Center</a> app.
        </p>
      </div>
      <div class="d-block d-sm-flex justify-content-center align-items-center">
        <a href={APP_STORE_URL} class="ms-0 ms-sm-2 mt-2 button andro_button-flex secondary">
          <i class="fab fa-apple"></i>
          <div class="andro_button-flex-content">
            <span>Available on</span>
            <b>Apple Store</b>
          </div>
        </a>
        <a href={PLAY_STORE_URL} class="ms-0 ms-sm-2 mt-2 button andro_button-flex primary">
          <i class="fab fa-google-play"></i>
          <div class="andro_button-flex-content">
            <span>Available on</span>
            <b>Play Store</b>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="section md bg-white">
    <div class="container">
      <div class="section-title text-center">
        <h3 class="family-display fw-400 text-dark">Ministries</h3>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="andro_album style-2 color-1">
            <div class="andro_album-img">
              <img class="andro_img-cover" src="/assets/uploads/kids-1b.webp" alt="Kids">
            </div>
            <div class="andro_album-content">
              <a href="/ministries/kids">
                <span class="andro_album-artist">Stony Brook</span>
                <h5 class="andro_album-name"><span class="text-uppercase">Kids</span></h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="andro_album style-2 color-3 sm">
            <div class="andro_album-img">
              <img class="andro_img-cover" src="/assets/uploads/youth-3.webp" alt="Youth">
            </div>
            <div class="andro_album-content">
              <a href="/ministries/youth">
                <span class="andro_album-artist">Stony Brook</span>
                <h5 class="andro_album-name"><span class="text-uppercase">Youth</span></h5>
              </a>
            </div>
          </div>
          <div class="andro_album style-2 color-5 sm">
            <div class="andro_album-img">
              <img class="andro_img-cover" src="/assets/uploads/women-2.webp" alt="Women">
            </div>
            <div class="andro_album-content">
              <a href="/ministries/women">
                <span class="andro_album-artist">Stony Brook</span>
                <h5 class="andro_album-name"><span class="text-uppercase">Women</span></h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="andro_album style-2 color-4 sm">
            <div class="andro_album-img">
              <img class="andro_img-cover" src="/assets/uploads/men-1.webp" alt="Men">
            </div>
            <div class="andro_album-content">
              <a href="/ministries/men">
                <span class="andro_album-artist">Stony Brook</span>
                <h5 class="andro_album-name"><span class="text-uppercase">Men</span></h5>
              </a>
            </div>
          </div>
          <div class="andro_album style-2 color-2 sm">
            <div class="andro_album-img">
              <img class="andro_img-cover" src="/assets/uploads/life-1.webp" alt="Life">
            </div>
            <div class="andro_album-content">
              <a href="/ministries/life">
                <span class="andro_album-artist">Stony Brook</span>
                <h5 class="andro_album-name"><span class="text-uppercase">Life</span></h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 text-center">
        <a href="/ministries" class="button secondary">View All Ministries</a>
      </div>
    </div>
  </div>

  {liveStream &&
      <div id="live-now" class="section height-lg dark-overlay dark-overlay-2 bg-cover bg-center d-flex align-items-center justify-content-center flex-column" style="background-image: url(/assets/uploads/banner/band-11.webp)">
        <div class="container">
          <div class="text-center mx-auto mb-4">
            <a href={`https://www.youtube.com/watch?v=${liveStream.videoId}`} class="andro_video-icon pulse andro_video-popup"> <i class="fas fa-play"></i> </a>
          </div>
          <div class="section-title lg text-center mb-0">
            <h3 class="fw-400 mb-0 text-white family-display">Watch <span class="fw-400 color-primary">today's service</span> live now!</h3>
          </div>
        </div>
      </div>
  }

  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="andro_video style-2">
            <div class="andro_video-img">
              <img class="andro_img-cover" src={latestMessage.thumbnails.ml} alt="video">
              <a href={latestMessage.player_embed_url} class="andro_video-popup andro_video-icon"> <i class="fas fa-play"></i> </a>
            </div>
            <div class="andro_video-body hide">
              <h5>{latestMessage.title}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ms-0 mb-5 ms-lg-5 mb-lg-0">
            <h3 class="h2">Latest <span class="fw-400 color-primary">{latestMessage.series || 'Stony Brook'}</span> Message</h3>
            <p><FormattedDate date={latestMessage.date} /></p>
            <br>
            <a href="/messages/recent#recent-messages" class="button primary">View Recent Messages</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section dark-overlay bg-dark bg-center">
    <div class="container text-center">
      <div class="section-title text-center">
        <h3 class="text-white fw-400 family-display">Give Online</h3>
        <p class="color-body-light-2">God influences the world through His people. He gives to us so He can give through us. Thank you for giving so He can grow your generosity!</p>
      </div>
      <a href="/give" class="button primary icon-after">Give <i class="fal fa-arrow-right"></i></a>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="section-title text-center">
        <h3 class="family-display fw-400">Featured Posts</h3>
      </div>
      {featuredPosts.map((post, index) =>
          <div class:list={['andro_post style-3', { 'reverse': index % 2 == 1 }]}>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="andro_post-thumb">
                  <a href={permalink(post, '/blog/:year/:month/:slug')}>
                    <img src={post.og_image || post.twitter_image || post.feature_image} alt="featured image" />
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="andro_post-body">
                  <div class="andro_post-author">
                    <div class="andro_post-author-thumb">
                      <img src={post.primary_author?.profile_image} alt="post author" />
                    </div>
                    <div class="andro_post-author-body">
                      <span>Posted By:</span>
                      <b>{post.primary_author?.name}</b>
                    </div>
                  </div>
                  <h5><a href={permalink(post, '/blog/:year/:month/:slug')}>{post.title}</a></h5>
                  <p set:html={post.excerpt}></p>
                  <a href={permalink(post, '/blog/:year/:month/:slug')} class="button primary outline icon-after">Read More <i class="far fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
      )}
      <div class="text-center mt-5">
        <a href="/blog" class="button primary">View All Posts</a>
      </div>
    </div>
  </div>

  <div class="section bg-cover dark-overlay dark-overlay dark-overlay-3" style="background-image: url(/assets/uploads/banner/give-more.webp); background-position: bottom right;">
    <div class="container">
      <div class="section-title text-center">
        <h3 class="family-display">This Week</h3>
      </div>
      <table class="mb-0 andro_table-responsive">
        <thead>
        <tr>
          <th>Day</th>
          <th>Time</th>
          <th>Event</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {publicEvents.slice(0, 5).map((event) =>
            <tr>
              <td data-title="Day" class="fw-600 color-primary"><FormattedDate date={event.start} format="cccc" /></td>
              <td data-title="Time"><FormattedDate date={event.start} format="t" /></td>
              <td data-title="Event">{event.name}</td>
              <td class="no-title"><a href={event.url} title={event.name} class="button light sm icon-after" target="_blank">Details <i class="far fa-chevron-right"></i> </a></td>
            </tr>
        )}
        </tbody>
      </table>
      <div class="mt-4 text-center">
        <a href="/events#church-calendar" class="button primary">View Calendar</a>
      </div>
    </div>
  </div>

  {upcomingEvent.enabled &&
    <script slot="after-footer" type="text/javascript" src="/assets/js/plugins/jquery.countdown.min.js" />
  }
  <script slot="after-footer" type="text/javascript" src="/assets/js/plugins/jquery.magnific-popup.min.js" />
  <script slot="after-footer" type="text/javascript" src="/assets/js/plugins/particles.min.js" />
  {upcomingEvent.enabled &&
    <script slot="after-footer" type="text/javascript" src="/assets/js/countdown.js" async />
  }
  <script slot="after-footer" type="text/javascript" src="/assets/js/magnific.js" async />
  <script slot="after-footer" type="text/javascript" src="/assets/js/particles.js" async />
</Home>
