---
import { getCollection } from 'astro:content';
import Page from '@layouts/Page.astro';

const ministries = await getCollection('ministries');
---

<Page title="Ministries" description="Lorem ipsum dolor sit amet." image="/assets/uploads/hero/church-1.jpg">
  {ministries.map((ministry, index) =>
    <div class="ministry-section">
      {ministry.data.banner && ministry.data.banner.style === 'style-1' &&
        <div class="section dark-overlay dark-overlay-2 bg-cover bg-center" style={`background-image: url(${ministry.data.banner.image})`}>
          <div class="container text-center">
            <div class="section-title text-center">
              <h3 class="text-white fw-400 family-display">{ministry.data.banner.title}</h3>
              <p class="color-body-light-2" set:html={ministry.data.banner.description}></p>
            </div>
            <a href={ministry.data.banner.url} class="button primary icon-after">{ministry.data.banner.action} <i class="fal fa-arrow-right"></i></a>
          </div>
        </div>
      }
      {ministry.data.banner && ministry.data.banner.style === 'style-2' &&
        <div class="section dark-overlay bg-dark bg-center">
          <div class="container text-center">
            <div class="section-title text-center">
              <h3 class="text-white fw-400 family-display">{ministry.data.banner.title}</h3>
              <p class="color-body-light-2" set:html={ministry.data.banner.description}></p>
            </div>
            <a href={ministry.data.banner.url} class="button primary icon-after">{ministry.data.banner.action} <i class="fal fa-arrow-right"></i></a>
          </div>
        </div>
      }
      <div class="section" id={ministry.slug}>
        <div class="container">
          <div class:list={['row align-items-center', { 'flex-row-reverse': index % 2 == 0 }]}>
            <div class="col-lg-6">
              <img src={ministry.data.image} alt="Ministry Image" />
            </div>
            <div class="col-lg-6">
              <div class="ms-0 mt-5 ms-lg-5 mt-lg-0">
                <h3 class="h2" set:html={ministry.data.heading}></h3>
                <p set:html={ministry.data.description}></p>
                {ministry.data.url &&
                  <a href={ministry.data.url} class="button primary">More Information</a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  )}
</Page>