---
import { CHURCH_CENTER_URL, SITE_TITLE, SOCIALS } from '@consts';

const today = new Date();
const hide = false;
---

<footer class="andro_footer style-3 light text-center dark-overlay dark-overlay-2" style="background-image: url(/assets/uploads/footer/footer-3.webp)">
  <div class="container-fluid">
    <ul class="andro_footer-socials">
      {SOCIALS.map((social) =>
        <li><a href={social.url} class={`color-${social.class}-hover`}><i class={`fab ${social.icon}`}></i> <span class="label">{social.title}</span></a></li>
      )}
      <li><a href={CHURCH_CENTER_URL} class="color-churchcenter-hover"><i class="fas fa-church"></i> <span class="label">Church Center</span></a></li>
    </ul>

    <p class="m-0">{SITE_TITLE} &copy; {today.getFullYear()}</p>
    <p><a href="https://insource.io">Made with Love</a></p>
  </div>
</footer>

<style>
  .label {
    white-space: nowrap;
  }
</style>
<script type="text/javascript" src="/assets/js/plugins/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/assets/js/aside.js" async></script>