---
import { ADDRESS, SITE_TITLE } from '@consts';
import { getNextDayOfWeek } from '@utils/getNextSunday';
import FormattedDate from '@components/FormattedDate.astro';
import {DateTime} from "luxon";

export interface Props {
  image: string,
  description?: string | null
}

interface Service {
  title: string,
  date: string,
  time: string,
  address: string
}

const { image, description = null } = Astro.props;

const sundayService: Service = {
  title: 'Sunday Service',
  date: getNextDayOfWeek('Sunday').toString(),
  time: '9AM &middot; 10:30AM',
  address: '14345 Y St, Omaha, NE 68137'
};

const onlineService: Service = {
  title: 'Online Service',
  date: getNextDayOfWeek('Sunday').toString(),
  time: '7PM',
  address: '<a href="/online" target="_blank">Attend Online</a>'
};

const wednesdayService: Service = {
  title: 'Wednesday Service',
  date: getNextDayOfWeek('Wednesday').toString(),
  time: '6:30PM',
  address: '104 Main St, Springfield, NE 68059'
};

const now = DateTime.local();

let service: Service;
if (now.weekday === 7 && now.hour >= 11) { // Sunday afternoon
  service = onlineService;
}
else
  if (now.weekday > 3) {
  service = sundayService;
}
else {
  service = wednesdayService;
}
---

<div class="andro_hero style-3">
  <div class="andro_hero-item dark-overlay bg-cover" style={`background-image: url(${image})`}>
    <div class="container">
      <div class="andro_hero-item-inner">
        <h1>{description || SITE_TITLE}</h1>
        <slot />
      </div>
    </div>
  </div>
</div>

<div class="section p-0 zindex-1">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="andro_event-countdown mt-negative bg-secondary">
          <div class="andro_event-countdown-date">
            <span><FormattedDate date={service.date} format="d" /></span>
            <div>
              <span><FormattedDate date={service.date} format="LLLL yyyy" /></span>
              <span set:html={service.time}></span>
            </div>
          </div>
          <div class="andro_event-countdown-name pb-lg-0 pb-3">
            <h5>{service.title}</h5>
            <span set:html={service.address}></span>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>