---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import SubHeader from '@components/SubHeader.astro';

export interface Props {
  title: string,
  description: string,
  image: string,
  featured_image?: string,
  featured_image_caption?: string,
  parents?: Parent[]
}

interface Parent {
  title: string,
  url: string
}

const { title, description, image, featured_image, featured_image_caption, parents = [] } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<BaseHead title={title} description={description} image={image} featured_image={featured_image} featured_image_caption={featured_image_caption} />
    <slot name="after-head" />
	</head>

	<body>
		<Header />
		<SubHeader title={title} image={image} parents={parents} />
		<main>
			<slot />
		</main>
		<Footer />
    <slot name="after-footer" />
	</body>
</html>
