---
import { SITE_TITLE } from '@consts';

export interface Props {
  to: string
}

const { to } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{SITE_TITLE}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.svg">
  <meta http-equiv="refresh" content={`0;url=${to}`}>
</head>
<body>

<div id="redirect" style="display: none">
  <h1>Redirecting...</h1>
  <p>This page has moved to <a href={to}>{to}</a>. If you are not automatically redirected in a few seconds, click the link to visit the page.</p>
</div>

<noscript>
  <h1>Redirecting...</h1>
  <p>This page has moved to <a href={to}>{to}</a>. If you are not automatically redirected in a few seconds, click the link to visit the page.</p>
</noscript>

<script type="text/javascript">
  window.addEventListener('load', () => {
    window.setTimeout(function() {
      document.getElementById('redirect').style = 'display: block';
    }, 1500);
  });
</script>
<slot name="after-footer" />

</body>
</html>
